/* Add here all your css styles (customizations) */
img.profile {
	width: 150px;
}

.profile-name {
	font-size: 26px;
}

.header .navbar-toggle:hover {
	background: #f0f0f0 !important;
}

.promo {
	padding-top: 51px;
}