/* Add here all your css styles (customizations) */
img.profile {
	width: 150px;
}

.profile-name {
	font-size: 26px;
}

.header .navbar-toggle:hover, .navbar-toogle:focus {
	background: #f0f0f0 !important;
}

.navbar-toggle {
	background: #f0f0f0;
}


.header .navbar-toggle {
	border-color: #f0f0f0;
}

.header .nav > li > .search:hover {
	background: #f0f0f0;
	color: #fff !important;
}


.promo {
	padding-top: 51px;
}

.breadcrumbs-v1 {
	background: url(/img/banners/banner.png) center no-repeat;
	padding: 60px 0;
}

