{{ partial "header.html" . }}
	<article>
<div class="bg-color-light">
			<div class="container content-sm">
				<div class="row">
					<!-- Blog All Posts -->
					<div class="col-md-9">
						<!-- News v3 -->
						<div class="news-v3 bg-color-white margin-bottom-30">
							{{ if isset .Params "picture" }}
							<img class="img-responsive full-width" src="/img/{{ .Params.picture }}" alt="">
							{{ end }}
							<div class="news-v3-in">
								<ul class="list-inline posted-info">
									{{ $author := .Params.author }}
									{{ range (where .Site.Pages "Type" "team") }}
										{{ if and (eq .Params.id $author) ( $author ) }}
											<li>By <a href="{{ .Permalink }}">{{ .Title }}</a></li>
										{{ end }}
									{{ end }}
									<li><time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time></li>
								</ul>
								<h2><a href="#">{{ .Title }}</a></h2>
								{{ .Content }}
								<ul class="post-shares post-shares-lg">
									<li>
										<a href="#">
											<i class="rounded-x icon-speech"></i>
											<span>28</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="rounded-x icon-share"></i>
											<span>355</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="rounded-x icon-heart"></i>
											<span>107</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- End News v3 -->

					</div>
					<!-- End Blog All Posts -->
				{{ partial "blog-sidebar.html" . }}
 				</div>
			</div><!--/end container-->
		</div>
	</article>
{{ partial "footer.html" . }}
