
		</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2016 &copy; All Rights Reserved.
								<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="https://www.facebook.com/share.php?u=http%3A%2F%2Fwww.cloud57.de/index.html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
<!--								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
-->								<li>
									<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.cloud57.de/index.html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
<!--							<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
-->								<li>
									<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.cloud57.de/index.html" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
<!--								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
-->							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->

		</div>
		
		<!-- JS Global Compulsory -->
		<script src="/plugins/jquery/jquery.min.js"></script>
		<script src="/plugins/jquery/jquery-migrate.min.js"></script>
		<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- REVOLUTION JS FILES -->
		<script src="/plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems! The following part can be removed on Server for On Demand Loading) -->
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
		<script src="/plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
		<script> 
		jQuery(document).ready(function() { 
		   jQuery("#slider1").revolution({
			  sliderType:"standard",
			  sliderLayout:"auto",
			  delay:1000,
			  navigation: {
				  arrows:{enable:false} 
			  }, 
			  gridwidth:1296,
			  gridheight:318 
			}); 
		}); 
</script>
	</body>
</html>
