
{{ range .Data.Pages }}
      {{if eq .Title "Impressum" }}

       <div class="modal" id="modalimpressum">
            <div class="modal-background"></div>
            <div class="modal-card">
                {{ if .Content }}
                <section class="modal-card-body markdown">
                  {{.Content}}
                </section>
                {{ end }}
            </div>
            <button class="modal-close is-large" aria-label="close" id="closeimpressum"></button>
        </div>
        <script>
            $('#impressum').click(function() {
                $('#modalimpressum').addClass('is-active');
            });
            $('#closeimpressum').click(function() {
                $('#modalimpressum').removeClass('is-active');
            });
        </script>
      </div>
      {{end}}
{{ end }}
