<div class="container">
    <!-- Begin Projects container -->
    <h2 class="title is-2 has-text-centered">Projects</h2>

    <div class="section is-small">
        <div class="columns is-multiline">
            {{ range sort .Pages }} {{ if eq .Section "projects" }}
            {{ if eq .Site.Params.projectcolumns "2" }}
            <div class="column is-half"> {{ else if eq .Site.Params.projectcolumns "3" }}
            <div class="column is-one-third"> {{ end }}
                <!-- Hey Vicky, show half column if number is even. -->
                <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <a 
                                    href="{{ .RelPermalink }}"
                                    id="project{{.Title | urlize}}"
                                    >
                                    <img src="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.placeholderimg }}{{ end }}">
                                </a>
                            </figure>
                        </div>
                        <div class="card-content has-text-centered top-pad">
                                <a href="{{ .RelPermalink }}"
                                    
                                    id="project{{.Title | urlize}}">
                                    
                                    {{ .Title }}
                                </a>
                        </div>
                </div>
            </div>
            {{ end }} {{ end }}
    </div>
</div>
</div>
<!-- End Projects container -->


<div class="container has-text-centered top-pad">
    <a href="#top">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
