{{ partial "header.html" . }}
	<div class="g-section-bg-gray text-center g-pt-60 g-pb-70 g-heading-v7">
  	<div class="container">
			<div class="row g-mb-40">
				<div class="col-sm-8 col-sm-offset-2 service-block-v1">
					<div class="jumbotron">
					Cloud57 ist ein Team von Entwicklern, welches das Thema agiles BPM in der Cloud vorranbringen möchten.
					Auf dieser Seite sollen die technischen und methodischen Aspekte dargestellt werden. 
					Die Prinzipien werden in einzelnen Projekten und Lösungen ausprobiert und beschrieben.
					</div>
				</div>
			</div>
  	</div>
  </div>
{{ partial "footer.html" . }}
