{{ partial "header.html" . }}
<div class="bg-color-light">
	<div class="container content-sm">
		<div class="row">
		<div class="col-md-9">
		{{ range .Data.Pages }}
			<div class="news-v3 bg-color-white margin-bottom-30">
				{{ if isset .Params "picture" }}
					<img class="img-responsive full-width" src="/img/{{ .Params.picture }}" alt="">
				{{ end }}
				<div class="news-v3-in">
					<ul class="list-inline posted-info">
						{{ $author := .Params.author }}
						{{ range (where .Site.Pages "Type" "team") }}
							{{ if and (eq .Params.id $author) ( $author ) }}
								<li>By <a href="{{ .Permalink }}">{{ .Title }}</a></li>
							{{ end }}
						{{ end }}
						<li><time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time></li>
					</ul>
					<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
					{{ .Summary }}
				</div>
			</div>
		{{ end }}	
		
		</div>
		{{ partial "blog-sidebar.html" . }}
		</div>
	</div>
</div>
{{ partial "footer.html" . }}
