{{ partial "header.html" . }}
	<div class="bg-color-light">
			<div class="container content-md">
				<div class="row">
				
					<!-- Team v2 -->
					{{ range .Data.Pages }}
					<div class="col-md-1"></div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="team-v2 no-margin-bottom">
							{{ if and (isset .Params "icon") (.Params.icon) }}
							<img class="img-responsive" src="/img/project/{{ with .Params.icon }}{{ . }}{{ end }}" alt="">
							{{ end }}
							<div class="inner-team">
								<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
								<hr>
								<p>{{ with .Params.shortdescription }}{{ . }}{{ end }}</p>
								
								<!--
								<ul class="list-inline team-social">
									<li>
										<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
								</ul>
								-->
							</div>
						</div>
					</div>
					{{ end }}
					<!-- End Team v2 -->
				</div>
			</div>
	</div>
{{ partial "footer.html" . }}
